streamlit==1.48.0
pandas==2.3.2
numpy==1.26.4
matplotlib==3.10.6
requests==2.32.4
python-dotenv==1.0.0
geopy==2.4.1
openmeteo_requests==1.7.2
meteostat==1.7.4
pycountry==23.12.11
timezonefinder==6.2.0
pytz==2024.1