aiofiles
aiohttp
aiosignal
aiosqlite
alembic
altair
amqp
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
asyncpg
attrs
babel
bcrypt
beautifulsoup4
billiard
black
bleach
blinker
cachetools
cattrs
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
comm
contourpy
coverage
cryptography
cycler
debugpy
decorator
defusedxml
deprecation
distro
dnspython
ecdsa
email-validator
environs
executing
fastapi
fastapi_cors
fastjsonschema
filelock
flake8
flatbuffers
fonttools
fqdn
frozenlist
fsspec
geographiclib
geopandas
geopy
gitdb
GitPython
gotrue
h11
h2
h3
hpack
httpcore
httptools
httpx
hyperframe
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
isoduration
isort
jedi
jh2
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kagglehub
kiwisolver
kombu
lark
Mako
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
meteostat
mistune
mpmath
multidict
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
niquests
notebook
notebook_shim
numpy
openai
openmeteo_requests
openmeteo_sdk
packaging
pandas
pandocfilters
parso
passlib
pathspec
pd
pexpect
pillow
platformdirs
pluggy
postgrest
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pycodestyle
pycountry
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyflakes
pygame
Pygments
PyJWT
pyogrio
pyparsing
PyPDF2
pyproj
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-decouple
python-dotenv
python-jose
python-json-logger
python-magic
python-multipart
pytz
PyYAML
pyzmq
qh3
realtime
redis
referencing
requests
requests-cache
retry-requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
rsa
Send2Trash
sentry-sdk
setuptools
shapely
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
storage3
streamlit
StrEnum
structlog
supabase
supafunc
sympy
tenacity
terminado
timezonefinder
tinycss2
tk
toml
torch
torchaudio
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
url-normalize
urllib3
urllib3-future
uuid
uvicorn
uvloop
vine
wassima
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
whisper
yarl
